//============================================
//proto_msg definition
//Warning:This file is auto generated. Don't modify it by hand
//============================================

#include "{{ pkg_name }}_pb.h"

namespace xpb {

{% for pname, pc in all_proto.items() %}
//call this function before pack to prepare buffer
//don't call it after unpack for proto which has a payload field
int pb_{{pname}}::cal_size()
{
	uint32_t pl_len = 0;
{{pc.cal_payload_len}}
	return {{pc.fixed_len}} + pl_len;
}

//return actual shift size
//       -1 if error
int pb_{{pname}}::unpack(char* p, uint32_t avail)
{
	uint32_t _fl = {{pc.fixed_len}};
	int _shift = 0;
	if ( p == NULL || avail < _fl ) return -1;
{{ pc.unpack }}
	return _shift;
}

//return total shift size
//       -1 if error
int pb_{{pname}}::pack(char* p, uint32_t avail)
{
	uint32_t _fl = {{pc.fixed_len}};
	int _shift = 0;
	int ret;
	char* ptmp;
	if ( p == NULL || avail < _fl) return -1;
{{ pc.pack }}
	return _shift;
}

{% endfor %}

} //namespace

